<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Selection</title>
    <link rel="stylesheet" href="static/style/style.css">
</head>
<div class="bg">
    <body>

        <!-- background -->
            <div class="user-selection">
                <div>
                    <a class="user user1" href="main"><img src="static/ressources/R.jpg" ></a>
                    <p>User 1</p>
                </div>
                <div>
                    <a class="user" href="main"><img src="static/ressources/R.jpg" ></a>
                    <p>User 2</p>
                </div>
                <div>
                    <a class="user" href="main"><img src="static/ressources/R.jpg" ></a>
                    <p>User 3</p>
                </div>
            </div>

            <div class="center-container">
                <button class="button">Create account</button>
            </div>
</div>
</body>
</html>